/* ページ全体の基本設定 */
body {
    font-family: sans-serif;
    margin: 0;
}

h1 {
    padding: 0 20px;
}

/* 地図を表示する要素のスタイル */
#map {
    height: 100vh; /* 画面の高さの80% */
    width: 100%;
}

/* ◉マーカーのスタイル */
.custom-div-icon {
    font-size: 24px;   /* 記号の大きさ */
    color: #ff4500;    /* 色 (OrangeRed) */
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}